@CHARSET "UTF-8";

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 990px;
}

.container-narrow>hr {
	margin: 30px 0;
}

.num-heading {
/* -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(./PIE.htc);  */

    width: 40px auto;
    height: 40px;
    padding: 2px;

    background: #fff;
/*     border: 2px solid #666;  */
    color: #666;
    text-align: right;

    font: 36px Arial, sans-serif bold
}

